<template name="tasks">
  <div class="wrapper row">
    <div id="toDo" class="small-12 large-4 medium-4 columns userColumn">
      <div class="headerColumn container" id="left">
        <p>To Do</p>
        {{#each queueList}}
          {{> toDo}}
        {{/each}}
      </div>
    </div>

    <div class="small-12 large-4 medium-4 columns userColumn" id="inProgress">
      <div id="right" class="container headerColumn">
        <p>Doing</p>
        {{#each inProgressList}}
          {{> workingOnIt}}
        {{/each}}
      </div>
    </div>

    <div class="small-12 large-4 medium-4 columns userColumn" id="done">
      <div id="center" class="container headerColumn">
        <p>Done!</p>
          {{#each finishedList}}
            {{> completed}}
          {{/each}}
      </div>
    </div>

  </div>
</template>