<template name="tasks">
  <div class="wrapper row">
    <div id="toDo" class="small-12 large-4 medium-4 columns userColumn">
      <div class="headerColumn container" id="left">
        <div class="columnHeader">
          <p>To Do</p>
        </div>
        <div class="taskList">
          {{#each queueList}}
            {{> toDo}}
          {{/each}}
        </div>

      </div>
    </div>

    <div class="small-12 large-4 medium-4 columns userColumn" id="inProgress">
      <div id="right" class="container headerColumn">
        <div class="columnHeader">
          <p>Doing</p>
        </div>
        <div class="taskList">
          {{#each inProgressList}}
            {{> workingOnIt}}
          {{/each}}
        </div>

      </div>
    </div>

    <div class="small-12 large-4 medium-4 columns userColumn" id="done">
      <div id="center" class="container headerColumn">
        <div class="columnHeader">
          <p>Done!</p>
        </div>
        <div class="taskList">
          {{#each finishedList}}
            {{> completed}}
          {{/each}}
        </div>

      </div>
    </div>
  </div>
</template>