<template name="tasks">
  <div class="row fullWidth">
    <div class="small-12 large-4 medium-4 columns userColumn" id="toDo">
      <div class="headerColumn">
        <p>To Do</p>
        {{#each queueList}}
          {{> toDo}}
        {{/each}}
      </div>
    </div>
    <div class="small-12 large-4 medium-4 columns userColumn" id="inProgress">
      <div class="headerColumn">
        <p>Doing</p>
        {{#each inProgressList}}
          {{> workingOnIt}}
        {{/each}}
      </div>

    </div>
    <div class="small-12 large-4 medium-4 columns userColumn" id="done">
      <div class="headerColumn">
        <p>Done!</p>
          {{#each finishedList}}
            {{> completed}}
          {{/each}}
      </div>

    </div>
  </div>
</template>