<template name="toDo">
  <div class="toDoNote">
    <div class="messageField">
      <div class="titleHeaderRow">
        <div class="title">{{title}}</div>
        <div class="delete">x</div>
      </div>
      <div class="description">{{description}}</div>
      <div class="taskFooter">
        <div class="leftButton workingOnIt">Start Task</div>
        <div class="centerButton hidden">Done!</div>
        <div class="rightButton timestamp">{{added}}</div>
      </div>
    </div>
  </div>
</template>

