<template name="workingOnIt">
  <div class="workingNote">
    <div class="messageField">
      <div class="titleHeaderRow">
        <div class="title">{{title}}</div>
        <div class="delete">x</div>
      </div>
      <div class="description">{{description}}</div>
      <div class="taskFooter">
        <div class="leftButton backToQueue">Didn't start</div>
        <div class="centerButton done">Done!</div>
        <div class="rightButton timestamp">{{added}}</div>
      </div>
    </div>
  </div>
</template>