<template name="profileEdit">
  <div class="navbar">
    <div id="logo">KANBAN BOARD</div>
    <div class="logout">
      {{> logout}}
    </div>

    <div class="edit">
      <a href="#" data-reveal-id="editFormModal">Edit Profile</a>

      <div id="editFormModal" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
        <h2>Edit Profile</h2>
        <form id="editForm">
          <p>Email: </p>
          <input type="text" name="email">
          <p>Password: </p>
          <input type="password" name="password">
          <input type="submit" id="editButton" value="Edit">
        </form>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
      </div>
    </div>


    <script>$(document).foundation()</script>
  </div>
</template>

