<template name="login">
  <div class="loginPage">
    <h2>Kanban Board</h2>
    <form action="" class="login">
      <div class="email">
        <p>Email:<input type="email" name="email" placeholder="email"></p>
      </div>
      <div class="password">
        <p>Password:<input type="password" name="password" placeholder="password"></p>
      </div>
      <div class="actionButtons">
         {{>   register}}
        <div><input type="submit" value="Login" class="loginButton"></div>
      </div>
    </form>
  </div>
</template>

<template name="register">
  <div class="registerButton">
    <a href="#" data-reveal-id="registerModal">Register</a>
  </div>

  <div id="registerModal" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
    <h2>Register</h2>
    <form action="" class="register">
      <p>Email:<input type="email" name="email"></p>
      <p>Password:<input type="password" name="password"></p>
      <p><input type="submit" value="Register"></p>
    </form>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
</template>

